<ion-header>
    <ion-toolbar>
        <ion-buttons>
            <ion-button (click)="dismiss()">
                <ion-icon name="close">Close</ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <form [formGroup]="forgotPassword">
        <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="text" formControlName="email"></ion-input>
        </ion-item>
    </form>
    <ion-button color="primary" (click)="forget()">Forgot password</ion-button>
</ion-content>
