<ion-app>
    <ion-split-pane contentId="main-content">
        <ion-menu contentId="main-content" type="overlay" autohide="true">
            <ion-content>
                <ion-item (click)="navigateToProfile()">
                    <ion-avatar slot="start">
                        <img [src]="userService.loggedInUser?.img">
                    </ion-avatar>
                    <ion-label>{{userService.loggedInUser?.name}}</ion-label>
                </ion-item>
                <ion-list>
                    <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
                        <ion-item [routerDirection]="'root'" (click)="pages(p.title)" [routerLink]="[p.url]">
                            <ion-icon slot="start" [name]="p.icon">HOME</ion-icon>
                            <ion-label>
                                {{p.title}}
                            </ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>
        </ion-menu>
        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>
