<!--
<ion-header>
    <ion-toolbar>
        <ion-title>Kate`s Movie App</ion-title>
    </ion-toolbar>
</ion-header>
-->

<ion-content padding-top="20%" style="background-color: #e2d9e1">

    <h1 style="text-align: center" class="fonts"><strong>Phoenix Movies</strong></h1>


    <div style="text-align: center">
        <img src="../../../../assets/images/for%20app.png" width="80%" height="80%" alt="">
    </div>


    <h3 style="text-align: center;" class="fonts">A movie lover's best friend</h3>


    <div class="centerAll">

        <div style="padding: 20px">
            <ion-button shape="rounded" size="block" color="primary" routerLink="/login">
                Log In
            </ion-button>
        </div>

        <div style="padding: 0px 20px 20px 20px">
            <ion-button shape="rounded" size="block" color="primary" routerLink="/register">
                Register
            </ion-button>
        </div>
    </div>

</ion-content>
